/* Typography */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
}

/* Resets */
button {
  outline: 0;
  background-color: #fff;
  cursor: pointer;
  border: 0;
}

button:hover {
  background-color: #dcdcdc;
}

/* Animations */
@keyframes winner {
  from {
    background-color: #f00;
  }
  to {
    background-color: #fff;
  }
}
